body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.card-title {
  font-size: 70px;
  width: 848px;
  text-align: center;
  color: #515076;
  line-height: 78px;
  margin: 0 auto 50px;
  font-weight: 400;
}

.mousse,
.mask,
.FaceWashGel,
.Giftset1,
.Giftset5 {
  font-size: 20px;
  color: #515076;
  line-height: 27px;
  margin: 20px 0 10px;
}

.for-normal-skin {
  font-size: 12px;
  color: #A5A3B9;
  line-height: 24px;
}

.discription,
.structure,
.list {
  font-size: 13px;
  color: #515076;
  line-height: 18px;
  margin: 0 0 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.price {
  font-size: 20px;
  color: #515076;
  line-height: 24px;
  font-weight: 700;
}


.rub {
  font-size: 20px;
  color: #515076;
  line-height: 24px;
  font-weight: 400;
}

.my-products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.all-price-container {
  display: flex;
  justify-content: space-between;

}