body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background-image: url('images/background-dandelions.png');
}

.product-card-title {
  font-size: 70px;
  width: 848px;
  text-align: center;
  color: #515076;
  line-height: 78px;
  margin: 0 auto 50px;
  font-weight: 400;
}

.product-card-mousse,
.product-card-mask,
.product-card-FaceWashGel,
.product-card-Giftset1,
.product-card-Giftset5 {
  font-size: 20px;
  color: #515076;
  line-height: 27px;
  margin: 20px 0 10px;
}

.product-card-skin {
  font-size: 12px;
  color: #A5A3B9;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  text-align: left;
  clear: both;
}

.product-card-discription,
.product-card-structure,
.product-card-list {
  font-size: 13px;
  color: #515076;
  line-height: 18px;
  margin: 0 0 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.product-price-mousse,
.product-price-mask,
.product-price-FaceWashGel,
.product-price-Giftset1,
.product-price-Giftset5 {
  font-size: 20px;
  color: #515076;
  line-height: 24px;
  font-weight: 700;
}


.product-price-ruble {
  font-size: 20px;
  color: #515076;
  line-height: 24px;
  font-weight: 400;
}

.product-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.product-price{
  display: flex;
  justify-content: space-between;

}